{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row d-flex justify-content-end align-items-center">
    <form action="" method="POST">
      {% csrf_token %}
      <div class="d-flex justify-content-end">
        <div class="grid">
          <label for="name">회사명:</label>
          <input type="text" id='name' name='name' placeholder='회사명을 입력하세요..'>
          <label for="code">회사코드:</label>
          <input type="text" id='code' name='code' placeholder='회사 코드' style="width: 100px">
          <input type="submit" value='추가'>
        </div>
      </div>
    </form>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">회사명</th>
          <th scope="col">회사코드</th>
          <th scope="col">현재가격</th>
          <th scope="col">삭제</th>
        </tr>
      </thead>
      <tbody>
        {% for corp in corps %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'stockdata:detail' corp.c_code %}" class="text-decoration-none text-dark">{{ corp.c_name }}</a></td>
            <td>{{ corp.c_code }}</td>
            <td>{{ corp.c_price }}</td>
            <td>
              <form action="{% url 'stockdata:delete' corp.c_code %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="-">
              </form>
          </tr>
        {% endfor %}  
      </tbody>
    </table>
  </div>  
</div>
{% endblock content %}